In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

### _Number in thousands_

In [2]:
data = pd.read_excel('cpsaat11.xlsx')

data = data.rename(columns = {'HOUSEHOLD DATA\nANNUAL AVERAGES\n11.  Employed persons by detailed occupation, sex, race, and Hispanic or Latino ethnicity':'Occupations',
                       'Unnamed: 1':'Total Employed', 
                       'Unnamed: 2':'Women', 
                       'Unnamed: 3':'White', 
                       'Unnamed: 4':'Black or African American', 
                       'Unnamed: 5':'Asian',
                       'Unnamed: 6':'Hispanic or Latino'
                              }
                   )

information = data.iloc[6].to_frame()
"""
data = data.iloc[4:]
data"""

new_header  = information.iloc[0] 
information = information[1:] 

information.columns = new_header

information = information.T
information = information.reset_index(drop = False).rename(columns={'index':'Groups'})
information

,Occupations,Total Employed,Women,White,Black or African American,Asian,Hispanic or Latino
0,"Total, 16 years and over",147795,46.8,78,12.1,6.4,17.6

## Manipulations

In [3]:
summary = data.iloc[8:]

summary = pd.concat(
                    [
                     information, 
                     summary[summary['Occupations'].str.endswith('occupations', na=False)]
                    ]
                   ).reset_index(drop=True)
display(summary)

,Occupations,Total Employed,Women,White,Black or African American,Asian,Hispanic or Latino
0,"Total, 16 years and over",147795,46.8,78,12.1,6.4,17.6
1,"Management, professional, and related occupations",63644,51.7,78.7,9.7,8.6,10.4
2,"Management, business, and financial operations...",27143,44.6,81.7,8.8,6.7,10.9
3,Management occupations,18564,40.4,83.4,8,5.8,10.7
4,Business and financial operations occupations,8578,53.9,78,10.5,8.7,11.2
5,Professional and related occupations,36502,57,76.5,10.5,10.1,10.1
6,Computer and mathematical occupations,5603,25.2,65.4,9.1,23,8.4
7,Other mathematical science occupations,103,37.8,63.6,9.3,25.7,6.2
8,Architecture and engineering occupations,3169,16.5,78,6,13.6,10.6
9,"Life, physical, and social science occupations",1627,49.3,75.1,6.5,14.9,8.5
10,Community and social service occupations,2717,68.8,72.7,19.9,3.4,13.5
11,Legal occupations,1882,51.9,83.5,8.6,5.6,8.3
12,"Education, training, and library occupations",8902,73.5,82,10,4.9,10.9
13,"Arts, design, entertainment, sports, and media...",3042,51.3,82,8.5,5.9,11.2
14,Healthcare practitioners and technical occupat...,9559,74.4,75.6,12.1,9.4,9.4
15,Other healthcare practitioners and technical o...,100,62.8,68.9,17.3,10.8,3.5
16,Service occupations,22853,57,72.9,17,5.6,25
17,Healthcare support occupations,4790,85.3,64.1,25.3,6.2,20.2
18,Protective service occupations,3024,23.6,74.5,19.4,2.5,15.9
19,Food preparation and serving related occupations,6556,54.4,74.8,13.9,6.4,27.3
20,Building and grounds cleaning and maintenance ...,5084,40.3,78.2,14.2,3.1,37.9
21,Personal care and service occupations,3399,77,72.8,13.2,10.1,16.1
22,Sales and office occupations,29726,61.3,78.7,12.5,5.1,17.3
23,Sales and related occupations,14168,48.7,80.2,10.6,5.5,17.1
24,Office and administrative support occupations,15558,72.7,77.4,14.3,4.7,17.4
25,"Natural resources, construction, and maintenan...",13357,5.6,86.7,7.5,2.1,31.1
26,"Farming, fishing, and forestry occupations",1045,24.1,90,4.3,1.6,43
27,Construction and extraction occupations,7710,4,87.8,7,1.6,35.7
28,"Installation, maintenance, and repair occupations",4602,4.1,84,9.1,3.1,20.8
29,"Production, transportation, and material movin...",18215,23.7,74.6,16.7,4.8,23.8
30,Production occupations,7590,28.3,77.8,13.1,5.6,23.6
31,Transportation and material moving occupations,10625,20.5,72.3,19.4,4.2,23.9

### Manipulate to categorical Data

In [4]:
df_1 = pd.DataFrame(columns=['Occupations', 'Minority Count', 'Minority', 'Total Employed'])

df_1['Occupations'] = summary.Occupations
df_1['Minority Count'] = summary.Women
df_1['Minority'] = 'Women'
df_1['Total Employed'] = summary['Total Employed']

df_2 = pd.DataFrame(columns=['Occupations', 'Minority Count', 'Minority', 'Total Employed'])

df_2['Occupations'] = summary.Occupations
df_2['Minority Count'] = summary.White
df_2['Minority'] = 'White'
df_2['Total Employed'] = summary['Total Employed']

df_3 = pd.DataFrame(columns=['Occupations', 'Minority Count', 'Minority', 'Total Employed'])

df_3['Occupations'] = summary.Occupations
df_3['Minority Count'] = summary['Black or African American']
df_3['Minority'] = 'Black or African American'
df_3['Total Employed'] = summary['Total Employed']

df_4 = pd.DataFrame(columns=['Occupations', 'Minority Count', 'Minority', 'Total Employed'])

df_4['Occupations'] = summary.Occupations
df_4['Minority Count'] = summary.Asian
df_4['Minority'] = 'Asian'
df_4['Total Employed'] = summary['Total Employed']

df_5 = pd.DataFrame(columns=['Occupations', 'Minority Count', 'Minority', 'Total Employed'])

df_5['Occupations'] = summary.Occupations
df_5['Minority Count'] = summary['Hispanic or Latino']
df_5['Minority'] = 'Hispanic or Latino'
df_5['Total Employed'] = summary['Total Employed']

cat_summary = pd.concat([df_1, df_2, df_3, df_4, df_5])
cat_summary

,Occupations,Minority Count,Minority,Total Employed
0,"Total, 16 years and over",46.8,Women,147795
1,"Management, professional, and related occupations",51.7,Women,63644
2,"Management, business, and financial operations...",44.6,Women,27143
3,Management occupations,40.4,Women,18564
4,Business and financial operations occupations,53.9,Women,8578
...,...,...,...,...
27,Construction and extraction occupations,35.7,Hispanic or Latino,7710
28,"Installation, maintenance, and repair occupations",20.8,Hispanic or Latino,4602
29,"Production, transportation, and material movin...",23.8,Hispanic or Latino,18215
30,Production occupations,23.6,Hispanic or Latino,7590
31,Transportation and material moving occupations,23.9,Hispanic or Latino,10625

In [13]:
base = ['Total, 16 years and over',
        'Management, professional, and related occupations',
        'Service occupations',
        'Sales and office occupations',
        'Natural resources, construction, and maintenance occupations',
        'Production, transportation, and material moving occupations'
       ]

cat_summ = cat_summary[cat_summary.Occupations.isin(base)].reset_index(drop=True)
cat_summ

,Occupations,Minority Count,Minority,Total Employed
0,"Total, 16 years and over",46.8,Women,147795
1,"Management, professional, and related occupations",51.7,Women,63644
2,Service occupations,57,Women,22853
3,Sales and office occupations,61.3,Women,29726
4,"Natural resources, construction, and maintenan...",5.6,Women,13357
5,"Production, transportation, and material movin...",23.7,Women,18215
6,"Total, 16 years and over",78,White,147795
7,"Management, professional, and related occupations",78.7,White,63644
8,Service occupations,72.9,White,22853
9,Sales and office occupations,78.7,White,29726
10,"Natural resources, construction, and maintenan...",86.7,White,13357
11,"Production, transportation, and material movin...",74.6,White,18215
12,"Total, 16 years and over",12.1,Black or African American,147795
13,"Management, professional, and related occupations",9.7,Black or African American,63644
14,Service occupations,17,Black or African American,22853
15,Sales and office occupations,12.5,Black or African American,29726
16,"Natural resources, construction, and maintenan...",7.5,Black or African American,13357
17,"Production, transportation, and material movin...",16.7,Black or African American,18215
18,"Total, 16 years and over",6.4,Asian,147795
19,"Management, professional, and related occupations",8.6,Asian,63644
20,Service occupations,5.6,Asian,22853
21,Sales and office occupations,5.1,Asian,29726
22,"Natural resources, construction, and maintenan...",2.1,Asian,13357
23,"Production, transportation, and material movin...",4.8,Asian,18215
24,"Total, 16 years and over",17.6,Hispanic or Latino,147795
25,"Management, professional, and related occupations",10.4,Hispanic or Latino,63644
26,Service occupations,25,Hispanic or Latino,22853
27,Sales and office occupations,17.3,Hispanic or Latino,29726
28,"Natural resources, construction, and maintenan...",31.1,Hispanic or Latino,13357
29,"Production, transportation, and material movin...",23.8,Hispanic or Latino,18215

## Exports

In [5]:
information.T.to_csv('summary.csv')

In [6]:
summary.to_excel("total_summarized.xlsx",
                  sheet_name='Summarized_Employement_Data')

In [7]:
cat_summary.to_excel('total_summarized_categorical.xlsx',
                    sheet_name='Categorical Summary')

In [15]:
cat_summ.to_excel('base_summarized_categorical.xlsx',
                    sheet_name='Base Categorical Summary')